body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}


.CABECALHO{
position: absolute;
width: 479px;
height: 507px;
left: 0px;
top: 0px;
gap: 27px;
background: url(IMG/8565620e66413fdaffd7b36fd00f578891f19f7c\ \(4\).png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.infor {
display: flex;
flex-direction: column;
justify-content: start;
align-items: flex-start;
align-items: start;
position: absolute;
width: 428px;
height: 366px;
left: 24px;
top: 69px;
gap: 27px;

}

.texto1 {

font-size: 16px;
line-height: 22px;
color: #FFFFFF;
text-align: start;
width: 381px;
height: 132px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
color: #FFFFFF;
gap: 27px;

}
.titulo1 {
width: 278px;
height: 64px;
font-size: 32px;
line-height: 32px;
color: #FFFFFF;
margin: 0px;
text-align: start;
font-family: 'Luckiest Guy';
font-style: normal;
font-weight: 400;
color: #FFFFFF;
gap: 27px;

}

.botoes {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
position: relative;
left: 28px;
top: 68%;

}

.botao1{


width: 381px;
height: 54px;
background: #FFFFFF;
border-radius: 28px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #23272A;


}

.botao2{


width: 381px;
height: 54px;
background: #23272A;
border-radius: 28px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;



}

.section1{

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 24px;
gap: 1px;
position: absolute;
width: 428px;
height: 573px;
left: 0px;
top: 505px;
}

.titulo2{
width: 370px;
height: 99px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
color: #23272A;
}

.titulo3{
width: 378px;
height: 88px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #23272A;

}


.foto{
width: 379px;
height: 252px;


}
.section2{
display: flex;
flex-direction: column;
padding: 4px 24px;
gap: 40px;
position: absolute;
width: 428px;
height: 507px;
left: 0px;
top: 1078px;
background: #F6F6F6;
}

.foto2{
  position: relative;
  top: 40px;
  width: 379px;
  height: 252px;
  }

  .titulo4{
width: 379px;
height: 33px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;

color: #23272A;

}

  .titulo5{

width: 378px;
height: 88px;

font-family: 'Open Sans';
font-style: normal;
text-align: start;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #23272A;
}


.section3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 24px;
gap: 27px;
position: absolute;
width: 428px;
height: 507px;
left: 1px;
top: 1585px;

}

.titulo6{
width: 373px;
height: 33px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
color: #23272A;

}

.titulo7{
width: 378px;
height: 88px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #23272A;
}

.section4{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 24px;
position: absolute;
width: 428px;
height: 560px;
left: 0px;
top: 2092px;
background: #F6F6F6;
}

.titulo8{
width: 376px;
height: 64px;
font-family: 'Luckiest Guy';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
color: #23272A;

}

.titulo9{
width: 378px;
height: 110px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #23272A;
}

.foto4{
width: 379px;
height: 252px;
}

.footer{
position: absolute;
width: 479px;
height: 140px;
left: 0px;
top: 2652px;
background: #23272A;
display: flex;
align-items: center;
justify-content: center;

}


@media (min-width:508px) {
 .CABECALHO {
    width: 100%;
    padding: 0;
  }

  .infor{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
width: 100%;


  }
.titulo1{
width: 313px;
height: 112px;
font-size: 56px;
line-height: 56px;
text-align: center;
}

.texto1{
width: 757px;
height: 66px;
font-size: 16px;
line-height: 22px;
text-align: center;

}

.botoes{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
gap: 16px;
width: 100%;
height: 85px;
}
  
.section1{
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 2px 24px;
  gap: 30px;
  padding: 0;
}

  .titulo2{
width: 329px;
height: 270px;
font-size: 40px;
line-height: 54px;
color: #23272A;
  }
   
  .foto{
width: 607px;
height: 394px;

  }


  
  .section2 {
    padding: 0;
flex-direction:row-reverse ;
 width: 100%;
 height: 448px;
 justify-content: center;
 align-items: center;


  }

.foto2{
position: relative;
top: auto;
width: 607px;
height: 394px;

}

.titulo4{


width: 329px;
height: 108px;
font-weight: 800;
font-size: 40px;
line-height: 54px;
}
  
.titulo5{
width: 348px;
height: 88px;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}



.section3{
width: 100%;
height: 448px;
flex-direction: row;
justify-content: center;
justify-items: center;
padding: 0;

}

.foto3{
top: auto;
width: 607px;
height: 394px;

}

.titulo6{
width: 329px;
height: 108px;
font-weight: 800;
font-size: 40px;
line-height: 54px;
}

.titulo7{
width: 348px;
height: 110px;
font-weight: 400;
font-size: 16px;
line-height: 22px;

}


  .section4{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0px;
position: absolute;
height: 744px;
padding: 0;
top: 1989px;


}

.titulo8{
width: 608px;
height: 40px;
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-align: center;
padding: 0px;
color: #23272A;

}

.titulo9{

width: 802px;
height: 44px;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #23272A;
}


.foto4{
width: 784px;
height: 508px;
}




  
.footer{
  width: 100%;
position: absolute;
height: 134px;
left: 0px;
top: 2690px;

}
  
}
